table{
  border: 1px solid black;
  padding: 10px;
  background-color: cornflowerblue;
  color: black;
}
th{
  background-color: chocolate;
  padding: 4px;
  border: 1px solid black;
 
}
tr{
  background-color: darkgray;
  
}
.add-ico{
  height: 30px;
  width: 30px;
 
}
.add-btn{
  margin: 0;
  padding: 0;
 padding-inline: 0px;
 padding-block: 0px;
 outline: none;
 border: none;

}
.inputs-2{
  margin: 0;
  padding: 0;
 padding-inline: 0px;
 padding-block: 0px;
 outline: none;
 border: none;
 background-color:darkgray;
 margin-left: 5px;
}
.inputs{
  display: flex;
  column-gap: 10px;
  height: 30px;
  margin-bottom: 8px;
  margin-left: 42px;
  margin-top: 4px;
}
.update-user{
  background-color: green;
  height: 30px;
  color: white;
  border: none;
  border-radius: 5px;
}
.del-user{
  background-color: red;
  height: 30px;
  border-radius: 5px;
  margin-left: 5px;
  outline: none;
  border: none;
}
.table{
  margin-left: 400px;
}
td{
  padding: 5px;
}